Source: ros-jade-urg-c
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://sourceforge.net/projects/urgwidget/
Standards-Version: 3.9.2

Package: ros-jade-urg-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The urg_c package
